*
!.gitignore

!/lib
!/lib/*
!/xPIClogNEW.X
!/xPIClogNEW.X/*

!README.md

!MPIClog.mcp

!diskio.h
!ff.c
!ff.h
!ffconf.h
!file.c
!file.h
!global.h
!int.c
!integer.h
!main_01.c
!meas.c
!meas.h
!mmcbb.c
!pinctrl.c
!pinctrl.h
!rtc.c
!rtc.h
!serial.c
!serial.h
